body {
  background-color: #ffffff;
  color: #1d1d1d;
  margin: 30px 220px;
  font-family: "Helvetica";
  font-size: 16px;
}

#index #header_id .index,
#index #header_id .index {
  color: #c0995b;
}

header {
  display: flex;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 18px;
  flex: 50%;
}

nav ul li {
  display: inline-block;
  font-size: 14px;
  margin-left: 30px;
  font-family: "Century Gothic";
}

h1 {
  margin: 30px 0px;
  padding-top: 5px;
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 34px;
  flex: 50%;
}

h2 {
  font-family: "Perpetua";
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

h3 {
  font-family: "Perpetua";
  font-size: 40px;
  color: #fe5f5b;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #c0995b;
  text-decoration: underline;
}

nav ul li a:link {
  color: #adadad;
}

nav ul li a:visited {
  color: #adadad;
}

nav ul li a:hover {
  color: #c0995b;
}

.project_page a:link {
  color: #c0995b;
}

.project_page a:visited {
  color: #c0995b;
}

/* content */
.intro p {
  font-family: "Century Gothic";
  font-size: 16px;
  text-align: center;
  margin-bottom: 55px;
  flex: 60%;
  color: #333333;
}

p {
  line-height: 1.7em;
}

button {
  margin-top: 20px;
  height: 50px;
  width: 160px;
  color: #c0995b;
  font-family: "Century Gothic";
  font-size: 16px;
  text-decoration: none;
  background-color: white;
  border: 2px solid;
  border-color: #c0995b;
  transition: 0.4s ease-in-out;
}

button:hover {
  background-color: #c0995b;
  color: white;
  transition: 0.3s ease-in-out;
}

.project-row {
  display: flex;
  /* transition: 0.5s ease-in-out;
  border-radius: 8px; */
}

.project-col-1 {
  flex: 1;
  padding-right: 20px;
}

.project-col-2 {
  flex: 1;
  padding-left: 20px;
  /* margin-top: 30px; */
  /* margin-top: 10px; */
  margin-right: 20px;
}

.project img {
  height: 320px;
  width: 470px;
  /* box-shadow: 0px 5px 10px #969696; */
  transition: 0.5s ease-in-out;
  /* margin-top: 10px; */
  margin-bottom: 50px;
  border-radius: 20px;
}

.project #nitebite {
  height: 320px;
  width: 220px;
  margin-left: 120px;
  margin-bottom: 50px;
}

/* .project img:hover { */
/* transition: 0.4s ease-in-out; */
/* opacity: 0.6; */
/* box-shadow: 0px 0px 15px #b1b1b1; */
/* transition: width 0.5s, height 0.5s, transform 0.5s; */
/* height: 305px;
  width: 455px; */
/* } */

/* project pages */
.project_page {
  margin-top: 30px;
}

.project_page h2 {
  /* font-family: "Verdana"; */
  font-family: "Helvetica";
  font-size: 18px;
  color: #414141;
}

.project_page h3 {
  text-align: center;
}

.project_content h2 {
  /* font-family: "Verdana"; */
  font-family: "Helvetica";
  font-weight: normal;
  font-size: 26px;
  color: #000000;
}

.project_content ul li {
  margin: 0 0 6px 0;
}

.gridrow {
  display: flex;
  margin-left: 60px;
  margin-bottom: 50px;
  /* justify-content: right; */
}

.quarter {
  width: 25%;
  padding-right: 40px;
}

.quarter h2 {
  /* font-family: "Verdana"; */
  font-family: "Helvetica";
  font-size: 14px;
  color: #444444;
}

.quarter p {
  font-size: 14px;
}

/* about */
.about {
  display: flex;
  margin-top: 50px;
  font-size: 16px;
}

.about img {
  margin-top: 60px;
  margin-left: 70px;
  width: 300px;
  border-radius: 200px;
}

.about a:link {
  color: #c0995b;
}

.about a:hover {
  color: #c0995b;
  text-decoration: underline;
}

.about a:visited {
  color: #c0995b;
}

/* milstein */
.mil_img img {
  height: 410px;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.mil-img-row {
  display: flex;
  justify-content: center;
}

.mil-img-col-3 {
  flex: 3;
}

.mil-img-col img {
  /* width: 95%; */
  height: 340px;
  width: 460px;
  margin-right: 40px;
  box-shadow: 0px 0px 2px #969696;
}

/* dandelion */
.dan_logo {
  text-align: center;
}

.dan_logo img {
  justify-content: center;
  height: 130px;
  padding-bottom: 20px;
}

.dan-col-grid img {
  width: 95%;
  box-shadow: 0px 0px 2px #969696;
}

.dan-col-grid p {
  font-size: 14px;
  margin: 0px 0px;
  text-align: center;
  color: #969696;
}

#userflow {
  width: 390px;
  height: 403px;
}

.dan-images {
  display: flex;
  justify-content: center;
}

.dan-images img {
  margin-top: 20px;
  margin-right: 20px;
}

.dan-images p {
  margin-top: 40px;
  margin-right: 20px;
}

/* nightbite */
.nightbite_logo img {
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

#quickstart {
  width: 100%;
}

.nightbite {
  margin-top: 50px;
}

.nightbite p {
  color: #505050;
  font-style: italic;
  text-align: center;
}

.animate {
  text-align: center;
}

.audio {
  display: inline-block;
}

/* footer */
.back {
  text-align: right;
  font-family: "Century Gothic";
  margin-top: 60px;
}

footer {
  margin-top: 100px;
}

.back a:link {
  color: #dbaf68;
  color: #c0995b;
}

.back a:visited {
  color: #dbaf68;
  color: #c0995b;
}

.links {
  font-size: 14px;
  text-align: center;
  color: #505050;
}

.links a:link {
  color: #505050;
  text-decoration: underline;
}

.links a:visited {
  color: #505050;
}

.tag {
  text-align: center;
  font-size: 12px;
}

/* mobile version */
@media (max-width: 600px) {
  body {
    margin: 10px 20px;
  }
  nav ul li {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }

  /* content */
  .intro p {
    font-size: 12px;
    margin-bottom: 0px;
  }

  /* about */
  .about {
    display: inline;
    font-size: 14px;
  }

  .about img {
    margin-top: 40px;
    margin-left: 60px;
    width: 200px;
    border-radius: 200px;
  }

  /* index.html */
  .project-row {
    display: inline-block;
  }

  .project-col-1 {
    flex: none;
    padding-right: 0px;
  }

  .project-col-2 {
    flex: 1;
    margin-left: 10px;
    padding-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .project img {
    height: 210px;
    width: 330px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 25px;
  }

  button {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  /* project pages */
  .gridrow {
    display: flex;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .quarter {
    width: 25%;
    padding-right: 17px;
  }

  .quarter h2 {
    font-size: 14px;
  }

  .quarter p {
    font-size: 12px;
  }

  /* dandelion */
  .dan-col-grid img {
    width: 95%;
    box-shadow: 0px 0px 2px #969696;
  }

  .dan-images {
    display: inline-block;
  }

  .dan-images img {
    width: 97%;
    margin-top: 0px;
    margin-right: 0px;
  }

  .dan-images p {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* milstein */
  .mil_img img {
    width: 96%;
  }

  .mil-img-row {
    display: inline-block;
    justify-content: center;
  }

  .mil-img-col-3 {
    flex: 3;
  }

  .mil-img-col img {
    /* width: 95%; */
    height: 210px;
    width: 330px;
    margin: 0px 0px;
    box-shadow: 0px 0px 2px #969696;
  }

  /* footer */
  .back {
    text-align: center;
    margin-top: 30px;
  }

  footer {
    margin-top: 50px;
  }
}
